* {
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(43, 23, 23);
}

article{
  width: 10000px;
  margin: 40px auto;
  padding: 20px 15px 60px;
  background-color: rgb(82, 42, 42);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
}


#main{
    border: 2px solid whitesmoke;
}

h1,h2,h3 {
    font-family: 'Century Gothic', monospace;
}

#logo {
    float: left;
}

#slogans {
    float: right;
    font-size: 7em;
    text-align: right;
    color: rgb(78, 37, 37);
    width: 30%;
    font-weight: normal;
}

.clearfix::before, .clearfix::before {
    content: "";
    display:  table;
}

.clearfix::after {
    clear: both
}

.aligin-left{
    float: right;
    margin-left: 15px;
}

.block{
    padding: 30px;
}

#main img {
    height: 100px;
}

.block:nth-child(odd){
    background-color:rgb(82, 42, 42);
    border-bottom: 1px solid rgb(110, 30, 30);
    border-top: 2px solid rgb(104, 29, 29);
    box-shadow:   0 0 20px black;
}

#main {
    border-left: 5px solid wheat;
    border-right: 3px solid wheat;
}

.clearfix::before, .clearfix::after, 
.block::before .block::after {

    content: "";
    display: table;

}
.clearfix::after, .block:after {
    clear: both;
}

