* {
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article{
  width: 1000px;
  margin: 40px auto;
  padding: 20px 150px 60px;
  background-color: rgb(82, 42, 42);
  box-shadow: 0 0 16px rgb(0,0,0,0.7);
}


#main{
    border: 2px solid whitesmoke;
}

h1,h2,h3 {
    font-family: 'Century Gothic', monospace;
}

#logo {
    float: left;
}

#slogans {
    float: right;
    font-size: 7em;
    text-align: right;
    color: aquamarine;
    width: 30%;
}

.clearfix::before, .clearfix::before {
    content: "";
    display:  table;
}

.clearfix::after {
    clear: both
}

.aligin-left{
    float: right;
    margin-left: 15px;
}

.block{
    padding: 30px;
}

#main img {
    height: 100px;
}

.block:nth-child(odd){
    background-color: aliceblue;
    border-bottom: 2px solid wheat;
    border-top: 2px solid wheat;
}

#main {
    border-left: 2px solid wheat;
    border-right: 3px solid wheat;
}

.clearfix::before, .clearfix::after, 
.block::before .block::after {

    content: "";
    display: table;

}
.clearfix::after, .block:after {
    clear: both;
}

